

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

:root {
  --orange-main: #f9106d;
  --orange-hover: #f4e3e9;
  --orange-light: #c7aa8f;
  --orange-dark: #4b1a33;
  --navbar-dark: #3a021fba;
  --scrollbar-thumb: #e8b036;
  --scrollbar-thumb-hover: #f9e6ee;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-deep: rgba(0, 0, 0, 0.2);
  --background-light: #ffffff;
  --text-color-light: #333;
  --text-muted-light: #666;
  --shadow-dark: rgba(255, 255, 255, 0.9);
  --background-dark: #181616;
  --text-color-dark: #ffffff;
  --text-muted-dark: #aaaaaa;
}

body.light-theme {
  --background: var(--background-light);
  --text-color: var(--text-color-light);
  --text-muted: var(--text-muted-light);
  --orange: var(--orange-light);
  --orangehover: var(--orange-hover);
  --navbar: var(--scrollbar-thumb-hover);
}

body.dark-theme {
  --background: var(--background-dark);
  --text-color: var(--text-color-dark);
  --text-muted: var(--text-muted-dark);
  --orange: var(--orange-dark);
  --orangehover: var(--orange-dark);
  --navbar: var(--navbar-dark);
}



